* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

header img {
  display: flex;
  width: 50px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-wrap: wrap;
  flex-direction: column;
}

#family-div {
  width: 200px;
}

#family-div , #content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  flex-grow: 1;
}

#content-div div {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

#content-div div * {
  margin: 5px;
}

#rate-div {
  display: flex;
  flex-direction: row;
  width: 500px;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}