* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

header img {
  display: flex;
  justify-content: flex-start;
  width: 50px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-wrap: wrap;
}

#family-div {
  width: 200px;
}

#family-div , #content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  flex-grow: 1;
}

#content-div div {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

#content-div div * {
  margin: 5px;
}

#rate-div {
  display: flex;
  flex-direction: row;
  width: 500px;
}